{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1> Login </h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in login_form %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
            {% endfor %}
            {% for error in login_form.non_field_errors %}
            <p style="color:red">{{error}}</p>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock main %}
