{% extends 'base.html' %}

{% block title %}
Register for an Account
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1> SignUp </h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in register_form %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
            {% endfor %}

            {% for error in register_form.non_field_errors %}
            <p style="color:red">{{error}}</p>
            {% endfor %}

            <button type="submit">Signup</button>
        </form>
    </div>
</main>
{% endblock main %}
