{% extends 'base.html' %}

{% block title %}
Start a Project
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Create a new project</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in create_project_form %}
            <p>
                {{ field.label }}
                {{ field }}
            </p>
            {% endfor %}

            {% for error in create_project_form.non_field_errors %}
            <p style="color:red">{{error}}</p>
            {% endfor %}

            <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock main %}
